*{
  font-family: 'Poppins', sans-serif;
}

/* Colors 
#048fbd

*/
.nav-bg{
  background: #03698b;
}
.nav-link{
  margin: 4px 4px;
}
.dropdown-item{
  color:#ffffff;
}

.dropdown-item:hover svg {
  stroke:#000000;
}

.dropdown-item:focus{
  background:#ffffff;
  color:#000000;
}

.displayclose{
  display: none;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}

#close{
  font-size: 27px;
}

.navbar-dark .navbar-nav .nav-link{
  color: #ffffffc7;
}

.nav-link svg{
  margin-right: 5px;
}


